@charset "utf-8";
/* CSS Document */
.body{background-color: #872f37;}

.logopng{
	width:70%;
	margin-left: 1%;

	float: left;
}

.d-lg-block{width: 100%;}

.redes-Sociales{
	width: 15%;
	float: right;
	
	margin-right: 5%;
	margin-top: 10%;
}
.logo-bar{
	width:82%;
	margin-left: 9%;
}

.section{
	width: 82%;
	margin-left:9%;
	margin-top: 1%;
}

.BachataSpoty{
	width: 100%;
	margin-left: 130%;
	margin-top: -100%;;
	float: left;
}

.form-group{
	margin-left: 10%;
}

.people{width: 5%;
float: left;
margin-left: 3%;
margin-top: 3%;}


.text-izq{
	float: left;
	margin-left: 50%;
	

	
}

.BachataSpoty-2{
	width: 100%;
	margin-top: -100%;
	
	float: right;
}

.buscar{
	float: left;
	margin-left: 35%;
}

.h-100{
	margin-top: 10%;
}




@media (max-width:800px) {
    .navbar .dropdown-menu {
        padding-top: 0;
        padding-bottom: 0;
        border: 0
    }
}

@media (min-width:900px) {
    .navbar .dropdown-menu {
        transform: translateY(.5rem);
        opacity: 0
    }

    .navbar .dropdown-menu.show {
        animation: .2s forwards d
    }

    @keyframes d {
        to {
            transform: translateY(0);
            opacity: 1
        }
    }
}



