.musica-body{
	
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100;
	background-color: #5f1114;
}

.container-fluid{
	color: white;
}
.cotainer{
	align-content: center;
	background-color: aliceblue;
	
	
}
.logo-img{
	width: 300px;
	margin-left: 10%;
	
}
.d-flex{float: right;}

.icons-social{
	width: 30px;
	margin: 05px;
}


.navbar{
	background-color: #ffb575;
	margin: 10px;
	
}

.navbar-brand{
	text-color: black;
}


.navbar-text{
	text-color: black;}


.artista-hi{
	margin-top: 3%;
	margin-left: 9%;
	background-color: white;
	width:85%;
	position: center;
 
}

.imagenAN{
	width: 30%;
	float: left;
	
}










.jumbotron-text








